:root {
    --primary-color: #000;
    --secondary-color: #9D0E07;
    --acent1-color: #FFA10A;
    --heading-font: "Bebas Neue", serif;
    --body-font: "Arial", "Helvetica", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    background-color: var(--acent1-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--acent1-color);
    color: var(--primary-color);
}

.hero article {
    position: absolute;
    color: var(--primary-color);
    background-color: var(--acent1-color);
    bottom: 20px;

}

.hero article img {
    float: right;
    width: 125px;
}

header {
    display: grid;
    grid-template-columns: 150px auto;

}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

li a {
    text-decoration: none;
}

nav {
    align-content: center;
}

/* SECTION */
.history {
    display: grid;
    grid-template-columns: 290px 200px 300px;
    grid-template-rows: 30px 300px;
    align-items: center;
    align-content: start;
}

.history h2 {
    grid-column: 1/4;
}

.history .p2 {
    justify-self: end;
}

section img {
    width: 200px;
    height: auto;
}

/* ADVENTURE AWAITS */
.adventure {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
    justify-content: center;
}

.adventure figure {
    justify-items: center;
    grid-row: 2;
}

.adventure img {
    width: 150px;
    height: auto;
    aspect-ratio: .6;
    object-fit: cover;
}

/* FOOTER */
footer {
    border-top: #000 dotted;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.socialmedia {
    justify-content: flex-end;
}