* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    background-color: #555;
    color: #fff;
}

h1 {
    margin: .5rem;
    font-family: 'Courier New', Courier, monospace;
}

form {
    background-color: lightgray;
    color: #333;
}

code {
    display: block;
    background-color: #333;
    color: #fff;
}

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0/ 10%);
}

button {
    display: block;
    background-color: navy;
    color: #fff;
    margin: 0 auto;
    border-radius: .5rem;
    border: 1px solid rgb(0, 0, 0/ 10%);
}

input,
textarea,
select,
button {
    padding: .75rem;
    width: 350px;
}