h1 {
    position: relative;
    top: 10px;
    right: 5px;
    width: 200px;
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
}

footer {
    position: absolute;
    left: 350px;
    bottom: 400px;
    width: 50rem;
    background-color: gainsboro;
    padding: 15px;
}

.col1 {
    position: relative;
    left: 10px;
    top: 15rem;
    background-color: yellow;
}