:root {
    --page-font: Arial, Helvetica, sans-serif;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    font-family: var(--page-font);
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    font-family: var(--page-font);
    color: darkblue;
}

img {
    width: 150px;
    height: auto;

}

p {
    padding: 0;
}

main {
    font-family: var(--page-font);
    max-width: 500px;
    height: auto;
}

aside {
    font-family: var(--page-font);
    width: 20rem;
    height: auto;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.2);
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

footer {
    font-family: var(--page-font);
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}