* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(63, 63, 108);
    padding: 10px;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    display: inline;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Arial";
}

h1 {
    color: rgb(47, 47, 77);
    border-bottom: #000 solid .2rem;
}

img {
    width: 150px;
    height: auto;
}

p {
    padding: 1px;
    margin: 10px 5px 0 0;
}

main {
    max-width: 600px;
    height: auto;
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    height: auto;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    font-size: small;
    color: #fff;
    position: absolute;
    top: 80px;
    left: 90px;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

header,
footer,
.grid {
    max-width: 840px;
    margin: 0 auto;
}

/* Class selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid #333;
    background-color: rgb(216, 216, 216);
    color: #232323;

}

.grid {
    display: grid;
    align-items: center;
}